@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:wght@300..700');

body{
  font-family: 'Space Grotesk';
  background:url('/src/assets/lines.jpg');
  background-repeat: repeat;
  background-size: 120px;
  background-position: center;
}

/* LOGO AND TITLE */
.logo-img{
  width: 60px;
  
}

.logo-and-title{
  font-family: Poppins;
  display: flex;
  align-items: center;
  gap: 2px; 
}

.title{
  font-size: 1.6rem;
}
/* -----------------------------------------------------------*/

/*LOCATION INPUT*/
.input-and-icon{
  width: 250px;
  border-radius : 10px;
  background-color: white;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display:flex;
  align-items: center;
  gap: 5px;
}

input{
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
}

input:focus{
  outline: none;
}

.location-icon{
  color: #1266f1;
}

.input-flex{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location-input input{
  font-family: Poppins;
}

.map-container{
  width: 90%;
}

/* ------------------------------------------------------------------------*/
/*LOCATION SUGGESTIONS*/
.location-suggestions{
  max-height: 150px;
  background-color: white;
  width: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 0.5rem;
  list-style-type: none;
  padding: 1rem;
}

.location-suggestions li{
  width: 100%;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 15px;

}

.location-suggestions li:hover, 
.location-suggestions li:focus{
  background-color: #f0f0f0;
  
}

.direct-me-btn, .back-home-btn {
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  background-color: #366dc5;
  color: white;
  font-size: 1rem;
  border: 1px solid #366dc5;
  cursor: pointer;
}

.direct-me-btn:hover, .back-home-btn:hover{
  background-color: #2b57a5;
  transform: scale(1.05);
}

.direct-me-btn:active, .back-home-btn:active{
  background-color: #1f3e73;
  transform: scale(0.98);
}

.direct-me-btn:focus, .back-home-btn:focus {
  outline: none; 
  box-shadow: 0 0 0 4px rgba(54, 109, 197, 0.4); 
}

/** ------------------------------------------------------**/
/* MAIN */
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  gap: 10rem;
}

.userLocSection{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
  margin:20px;
  width: 1000px

}

.inputLabel{
  font-size: 1.4rem;
  font-weight: bold;
}

.directions-phase{
  width: 400px;
  margin-left: 20px;
}

.highlighted-location{
  color: red
}

.error-message{
  color: red
}

@media screen and (max-width:1000px ) {
  .userLocSection{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 5rem;
  }
}